<h1 class="entry-title">
    <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
</h1>
{% if post.title %}
  <h1 class="entry-title">
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h1>      
{% endif %}
<div class="entry-content">{{ content }}</div>
